# 模型配置
MODEL_NAME=qwen-flash
BASE_URL=https://dashscope.aliyuncs.com/compatible-mode/v1
API_KEY=sk-xxxxx
EMBEDDING_MODEL_NAME=text-embedding-v3

# 应用配置
APP_ENV=development
APP_HOST=127.0.0.1
APP_PORT=8000
STREAMLIT_HOST=127.0.0.1
STREAMLIT_PORT=8501
DATA_DIR=.\data\raw_data
SQLITE_PATH=.\data\metadata.db
FAISS_INDEX_DIR=.\data\faiss
NEO4J_URI= bolt://localhost:7687
NEO4J_USERNAME=neo4j
NEO4J_PASSWORD=xxx
LLM_TIMEOUT_SECONDS=30
LLM_MAX_RETRIES=3
